{% if error %}
    <div style="color: red;">{{ error }}</div>
{% endif %}

<form id="editBlogForm" method="post" action="/edit_blog/{{ blog.id }}/">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" value="{{ blog.title }}"><br><br>

    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description" value="{{ blog.description }}"><br><br>

    <label for="post">Content:</label><br>
    <textarea id="post" name="post" rows="10" cols="50">{{ blog.post }}</textarea><br><br>

    <button type="submit">Update Blog</button>
</form>
